/* Entire Page */

:root {
    --text-color: #222;
    --text-color-accent: #248;
    --back-color: #acf;
    --back-color-light: #def;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
    background-color: var(--back-color);
}

body div.hidden {
    display: none !important;
}

a {
    color: var(--text-color-accent);
}

/* Header */

header {
    color: var(--text-color-accent);
    background-color: var(--back-color-light);
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

/* Scoreboard */

#scoreboard {
    background: linear-gradient(
        var(--back-color-light) 40%,
        var(--back-color)
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.score-card {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #222;
    border: 0.4rem solid #544;
    width: 10rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.score-card > span {
    display: block;
}

.score-card > .player {
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.score-card .score {
    font-weight: bold;
    font-size: 6rem;
}

/* Button Holders */

#move-choice, #win-announce {
    display: flex;
    height: 16rem;
    max-width: 55rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
}

.button-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5px;
}

.button-set button {
    display: block;
    background-color: #9ab;
    border: 2px solid #000;
    border-radius: 7px;
    margin: 0;
    padding: 0.5rem;
}

.button-set button:hover {
    background-color: #edc;
}

.button-set button:active {
    background-color: #fff;
}

/* Move Choice */

#move-choice {
    background-color: #acf;
}

#move-choice .button-set {
    height: 12rem;
}

#move-choice button > img {
    display: block;
    height: 10rem;
    border-radius: 5px;
}

/* Win Announce */

#win-announce {
    color: #fff;
    background-color: var(--text-color);
    border: 1rem double #fff;
    border-radius: 2rem;
}

#win-announce.cpu-win {
    background-color: #832;
}

#win-announce.human-win {
    background-color: #383;
}

#win-announce .button-set {
    height: 5rem;
}

#win-announce h2 {
    font-size: 3rem;
}

#win-announce button {
    font-size: 2rem;
    width: 15rem;
}

/* Move Log */

#move-log {
    background-color: var(--back-color-light);
    margin: auto;
    max-width: 32rem;
    padding: 0.5rem;
}

#move-log > p {
    margin: 0.5rem;
}

/* Footer */

footer {
    background-color: var(--back-color);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5rem;
}