/* Entire Page */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* Scoreboard */

/* Button Holders */

#move-choice, #win-announce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

#move-choice {
    background-color: #ccc;
}

.button-set {
    height: 10em;
    flex: 2;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.button-set button {
    display: block;
    background-color: #999;
    border: 2px solid #000;
    border-radius: 7px;
    margin: 0;
    padding: 0.5em;
    opacity: 70%;
}

.button-set button:hover {
    background-color: #ddd;
    opacity: 100%;
}

.button-set button:active {
    background-color: #fff;
}

#move-choice button > img {
    display: block;
    height: 10em;
    border-radius: 5px;
}

/* Move Log */